.container {
    display: flex;
}

.container > div {
    flex-grow: 1;
    border: 1px solid black;
    min-height: 20px;
}

.result-wrapper {
    margin: 0 auto;
    text-align: center;
}

.result {
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    color: black;
    border: 1px solid #000;
    margin-top: 50px;
    background: yellow;
}

button {
    background: red;
    color: white;
    padding: 2px 20px;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.blue {
    background: blue;
    color: white;
}

.item-button {
    margin: 10px;
    background-color: blue;
}

.list-wrapper {
display: flex;
}
